---
import { Icon } from 'astro-icon';

interface Item {
  title: string;
  description: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items: Array<Array<Item>>;
}

const { items = [] } = Astro.props;
---

<section class="scroll-mt-16" id="features">
  <div class="px-4 pt-8 mx-auto max-w-6xl lg:pt-12">
    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      {
        items.map((subitems) => (
          <div class="space-y-8 md:px-4">
            {subitems.map(({ title, description, icon }) => (
              <div class="flex flex-row max-w-md">
                <div class="mb-4 mr-4">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary dark:bg-blue-700">
                    {icon && <Icon name={icon} class="w-6 h-6 text-white icon-light" />}
                  </div>
                </div>
                <div>
                  <h3 class="mb-3 text-xl font-bold">{title}</h3>
                  <p class="text-muted dark:text-slate-400" set:html={description} />
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
