---
import { Picture } from '@astrojs/image/components';
import Section from 'layouts/Section.astro';

const image = {
  src: import('assets/images/simon_dogs.png'),
  alt: 'Picture of Simon with his two dogs, Oreo & Mochi',
};
---

<Section header="About Me" id="about">
  <p class="mb-6">Hi friend, welcome to my personal website! I&apos;m Simon, it&apos;s a pleasure to meet you 👋</p>
  <p class="mb-6">
    I&apos;m an IT professional based out of the greater Philadelphia area. I&apos;m originally from Phoenixville, PA,
    where I grew up with my parents and older brother. After high school, I attended Penn State University, where I
    majored in Information Sciences & Technology (IST). Penn State (as it does for many) holds a space near and dear to
    my heart. I am grateful to have supported the university&apos;s IFC/Panhellenic dance marathon (THON) in each of my
    years as an undergraduate student, and also loved my time supporting the College of IST as a student diplomat.
  </p>
  <p class="mb-6">
    Returning to the Philly suburbs after college, I started my career as a professional software engineer. Shortly
    after, I adopted my first dog, Oreo, and met my lovely (now) wife, Audra. We now live together in the Philadelphia
    suburbs and have since adopted another four paws in the family, Mochi!
  </p>
  <p>
    Outside of technology, I love sports and cheering on my Philadelphia teams (especially the Sixers and Eagles!). I
    also enjoy playing guitar, video games, and getting outside to explore nature. I recently picked up photography, and
    can&apos;t wait to share my work with the world as I improve!
  </p>
  <div class="flex flex-col items-center">
    <Picture
      class="drop-shadow-md mt-8 mb-4 rounded-lg"
      widths={[300, 768, 1024, 2040]}
      sizes="(max-width: 767px) 300px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      aspectRatio={4 / 3}
      width={600}
      height={800}
      loading="eager"
      {...image}
    />
    <p class="italic">Simon with his two dogs, Oreo & Mochi</p>
  </div>
</Section>
