---
import { Picture } from '@astrojs/image/components';

const heroImage = {
  src: import('assets/images/me-full.jpeg'),
  alt: 'Picture of Simon Wong',
};
---

<section class="px-4 py-8 md:py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
  <div class="flex flex-col md:flex-row md:items-center justify-between gap-8">
    <div class="flex-grow-1">
      <h2 class="text-5xl md:text-6xl font-bold font-heading mb-4">Simon Wong</h2>
      <p class="text-lg">Web Dev, Photographer, Human</p>
    </div>
    <div class="flex self-center justify-center p-6">
      <Picture
        class="rounded-xl drop-shadow-xl"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        width={400}
        height={400}
        loading="eager"
        {...heroImage}
      />
    </div>
  </div>
</section>
