---
import Section from 'layouts/Section.astro';
---

<Section header="Photography" id="photography">
  <p>
    I recently started down my photography journey, and have been loving every minute of it! I can&apos;t wait to show
    you what I have been working on, so stay tuned!
  </p>
  <!-- <div class="my-8 flex justify-between gap-4">
      <div class="bg-cyan-400 w-[400px] h-[400px]"></div>
      <div class="bg-cyan-400 w-[400px] h-[400px]"></div>
      <div class="bg-cyan-400 w-[400px] h-[400px]"></div>
    </div> -->
  <div class="flex justify-center mt-8">
    <a class="btn btn-ghost cursor-not-allowed pointer-events-none" aria-disabled="true">Coming soon!</a>
  </div>
</Section>
